<h2>Rules of the Game</h2>
<h4>Summary</h4>
<p>This game is a mixture of telephone and pictionary. Players will take turns writing and drawing and repeating until the original message has hilariously changed</p>
<h4>Starting the Game</h4>
<p>To the start the game, each player will take a turn with the deive, writing a word, phrase, or sentence. It can be anything you want and the sillier the better. Once every player has had a change to take a turn, the rounds will begin</p>
<h4>Rounds</h4>
<p>Each round, players will take turns looking at the previous persons work, and doing their best to either draw the phrase, or describe teh drawing. Since the first round has each player taking turns writing something, the second round each player will take turns drawing the previous players phrase. Oncce that is done, the third round has everyone trying to write out what the previous players picture was of, and so on. as the rounds continue, the drawings and writing will get further and further from the first message.</p>
<h4>The End</h4>
<p>The game ends once each player has drawn or described each players original idea. There are as many rounds as there are players. Once everyone has played the final round, each player will get to see the progress of their original writing, and what it turned into. Hilarity ensues.</p>

