
<div id="sheet">
  <div class="draw">
    <h1>Draw the phrase!</h1>
    <canvas #canvas></canvas><br>
    <button class="color" (click)="changeColor('#000000')">Black</button>
    <button class="color" (click)="changeColor('#FF0000')">Red</button>
    <button class="color" (click)="changeColor('#FFA500')">Orange</button>
    <button class="color" (click)="changeColor('#FFFF00')">Yellow</button>
    <button class="color" (click)="changeColor('#00FF00')">Green</button>
    <button class="color" (click)="changeColor('#0000FF')">Blue</button>
    <button class="color" (click)="changeColor('#4B0082')">Purple</button>
    <hr>
    <button class="done" (click)="saveDrawing()">Done</button>  

  </div>
  <div class="write">
    <h1>Describe the drawing!</h1>
    <textarea name="description" id="description" cols="35" rows="3" maxlength="140"></textarea>
  </div>
</div>